body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: lightpink;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .balloon {
    display: inline-block;
  border-radius: 80%;
  position: relative;
  box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
  margin: 20px 30px;
  transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease; 
  z-index: 10;
  animation: balloons 4s ease-in-out infinite;
  transform-origin: bottom center;
  width: 200px;
  height: 188px;
  background: lightgreen;
  text-align: center;
  }
  
  .balloon:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid lightgreen; 
    transform: translateX(-50%);
  }
  
  .string {
    position: absolute;
  width: 1px;
  height: 100px;
  background: rgba(0, 0, 0, 0.2); 
  top: 111%; 
  left: 50%;
  transform: translateX(-50%);
  }
  
  @keyframes balloons {
    0%, 100% { transform: translateY(0) rotate(-4deg); }
    50% { transform: translateY(-25px) rotate(4deg); }
  }
  
  @keyframes explode {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(5);
      opacity: 0;
    }
  }
  
  .exploded-balloon {
    animation: explode 1s forwards;
    transform-origin: center;
    opacity: 1;
  }
  
  .extra-large-balloon {
    width: 260px;
    height: 240px;
    background: lightyellow;
  }
  